<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../../assets/1828675-basic-ui/font/flaticon.css">
    </head>
<body>
    <header>
        <div class="container">
            <strong><span>FCStudios</span> - MODS MANAGER V1.0.0</strong>
            <div class="winbdow-control-container">
                <div class="flaticon-059-minus controlBTN controlBTN-minus" (click)="minimizeWindow()"></div>
                <div class="flaticon-054-maximize controlBTN" (click)="expandWindow()"></div>
                <div class="flaticon-020-close controlBTN controlBTN-close" (click)="closeWindow()"></div>
            </div>
        </div>
    </header>

    <div class="searchbox-container">
        <input id="search" type="text" placeholder="Search for mods ..." [(ngModel)]="search">
    </div>

    <main>
        <div *ngFor="let mod of (installedMods | filter:search)">
            <div *ngIf="mod.Friendly">
                <app-mod-item mod [mod]="mod"></app-mod-item>
            </div>

        </div>
        <div *ngIf="(installedMods| filter:search).length <1">
            <strong class="not-found">NOT FOUND</strong>
        </div>
    </main>
</body>

</html>