@font-face {
    font-family: "Flaticon";
    src: url("../../assets/1828675-basic-ui/font/Flaticon.eot");
    src: url("../../assets/1828675-basic-ui/font/Flaticon.eot?#iefix") format("embedded-opentype"),
         url("../../assets/1828675-basic-ui/font/Flaticon.woff2") format("woff2"),
         url("../../assets/1828675-basic-ui/font/Flaticon.woff") format("woff"),
         url("../../assets/1828675-basic-ui/font/Flaticon.ttf") format("truetype"),
         url("../../assets/1828675-basic-ui/font/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

body{
    display: flex;
    flex-flow: column;
    -webkit-user-select: none;

    header {
        background-color: #3a3a3a;
        display: flex;
        flex-direction: column;

        .container{
            display: grid;
            grid-template-columns: 80% auto;
            padding: 1px 0px 0 8px;
        
            strong{
                -webkit-app-region: drag; //This allows the window to be dragged
                color: #fff;
                padding: 5px 0px 0px 0px;
        
                span{
                    color: orange;
                  }
              }
              
            .winbdow-control-container{
                display: flex;
                //margin: 0px 10px 0px 0px;
                padding: 0px;
                margin: 0px;
                justify-self: end;
                // justify-content: space-between;
                justify-content: right;
                align-content: stretch;
            }
        }
    }

    :host ::ng-deep main{ //:host ::ng-deep to fix angular not styling css
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: auto;

        // #items{
            
        // }
    }

    .searchbox-container{
        display:flex;
        flex-flow: column;

        input{
            background-color: #535353;
            border:none;
            min-width:0;
            margin: 5px 10px;
            border-radius: 50px;
            border: 0;
            padding: 12px;
            color: gray;
            font-family: 'Montserrat';
            outline: none;
        }
    }
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #707070;
}

.switch{
    display: flex;
    align-self: center;
}

:host ::ng-deep input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    // transition: .5s;
}

:host ::ng-deep input:checked[type="checkbox"]{
    background: #03a9f4;
}

:host ::ng-deep input[type="checkbox"]:before{

    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: .5s;
}

:host ::ng-deep input:checked[type="checkbox"]:before{
    left: 20px;
}

.not-found{
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    padding: 0px;
    text-align: center;
    margin: 0px;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 50px;
    color: cyan;
}

.controlBTN{
    background-color: #3a3a3a;
    margin: 0px;
    padding: 8px 15px;
    font-size: small;
    cursor: pointer;
}

.controlBTN:hover{
    background-color: #5e5e5e;
}

.controlBTN-close:hover{
    background-color: red;
}

.flaticon-059-minus:before { 
    content: "\f13a"; 
    color:white;
    margin-top: 60px;
    font-family: Flaticon; 
}

.flaticon-054-maximize:before { 
    content: "\f135"; 
    color:white;
    font-family: Flaticon; 
}

.flaticon-020-close:before { 
    content: "\f113"; 
    color:white;
    font-family: Flaticon; 
}