<!DOCTYPE html>
<html lang="en">

<body>
    <header>
        <div class="container">
            <strong><span>FCStudios</span> - MODS MANAGER V1.0.0</strong>
            <nav>
                <ul>
                    <li><img src="../../assets/btn-min.svg" id="min" (click)="minimizeWindow()"></li>
                    <li><img src="../../assets/btn-close.svg" (click)="closeWindow()"></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="searchbox-container">
        <input id="search" type="text" placeholder="Search for mods ..." (keyup.enter)="channel($event.target.value)">
    </div>

    <main>
        <div id="items" #items></div>
        <!-- <ng-container *ngFor="let mod of installedMods">
            <div class="mod-item">
                <img id="mod-icon" src="{{ mod.ModIcon }}">
                
                <div class="mod-details">
                    <strong>{{ mod.Friendly }} </strong> <br>
                    <small>INSTALLED VERSION: V{{mod.Version}}</small>
                </div>

                <div class="current-version">
                    <strong>CURRENT VERSION </strong>
                    <small>v{{mod.Version}}</small>
                </div>

                <div class="button-container">
                    <label class="switch">
                        <input type="checkbox" id="isEnabled">
                    </label>
                    <button>NEXUS PAGE</button>
                    <button>UPDATE</button>
                </div>
            </div>
        </ng-container> -->
    </main>

    <script>
    
    </script>
</body>

</html>